html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
 
  /* .card_block_shop .card_item_wrapper {
    width: auto;    
 } */
  
}
@media (max-width: 576px) {
  
  .product_detail_wrapper .product_actions .cart {
    
    margin:0 auto;
  }
  .product_detail_wrapper .product_actions .price {
    margin: 0 auto;
  }

  .product_detail_wrapper .main_pic div {
 
    height: 300px;
    
  }.product_detail_wrapper .main_thumbs .thumb {
    
    height: 150px;

  }
  .user_block_info{
    padding-top: 3rem;
  }
  .card_block_shop .card_item_wrapper {
    width: auto;
 }
  
  
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
  .card_block_shop .card_item_wrapper {
    flex-grow: 0;
 } 
}

@media (min-width: 992px) {
  html {
    font-size: 1.2rem;
  }
  .card_block_shop .card_item_wrapper {
    flex-grow: 0;
 } 
}
