/*============================
            FOOTER
==============================*/

footer {
  color:black;
  /* background-color: #93d8dd; */
  /* color:#fff;
  background-color: #272723; */
}
footer .nfo {
  padding-left: 40px;
}
footer .icon {
    position: absolute;
    font-size: 26px;
    top: 10px;
}